
.page {
  // background-image: url('../../assets/image/bg.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
}

.form {
  margin-top: 240px;
}

.itemInput {
  opacity: 0.85;
}

.itemInput input {
  border-radius: 0px;
}